<div class="footer">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-3 footer-grid about-info">
							<img src="images/logo.png" title="WICS_LOGO" />
							<p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="col-md-3 footer-grid subscribe">
							<h3>Subscribe to Our Mailing List</h3>
							<form>
								<input type="text" placeholder="" required />
								<input type="submit" value="" />
							</form>
						</div>
						<div class="col-md-3 footer-grid explore">
							<h3>Resources</h3>
							<ul class="col-md-6">
								<li><a href="#">iuhkjsf</a></li>
								<li><a href="#">iuhkjsf</a></li>
								<li><a href="#">iuhkjsf</a></li>
								<li><a href="#">iuhkjsf</a></li>
							</ul>
							<ul class="col-md-6">
								<li><a href="#">iuhkjsf</a></li>
								<li><a href="#">iuhkjsf</a></li>
								<li><a href="#">iuhkjsf</a></li>
								<li><a href="#">iuhkjsf</a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-3 footer-grid copy-right">
							<p>Eusmod tempor incididunt ut labore et dolore magna aliqua. ut labore et dolore magna aliqua. </p>
							<p class="copy">Website Created by University of San Francisco Wogrammers</p>
						</div>
						<div class="clearfix"> </div>
