
<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">

					<ul class="social-links">
						<li><a href="https://www.facebook.com/usfcawics/" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/WogrammersUSF" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://instagram.com/wogrammersusf/" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li><a href="mailto:wogrammersusfca@gmail.com"><i class="fa fa-envelope"></i></a></li>
					</ul>

					<p class="heart">
                        Made with &#x1f495; in San Francisco
                    </p>
                    <p class="copyright">
                        © 2015 USF Women in CS 
					</p>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</footer>

