 <!DOCTYPE html> 

 <header class="intro-header" style="background-color: #222">

    <!-- style="background-image: url('images/so.jpg')"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Who we are</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main">
    <div class="container wics-container">
        <div id="extras">
            <div class="space"></div>
            <div class="row">
                <div class="col-md-7">
                        <img src="images/eboard/group.jpg" class="img-rounded img-responsive">
                </div>
                <div class="col-md-5">
                                <h1 class="text-center">About WiCS</h1>

                                    <p>
                                    We are Women in Computer Science, a student organization at the University of San Francisco.
                                    We're coders and engineers - both women and men - who support the female presence in computing. We run events, from tech talks to socials, and provide opportunities for female engineers to connect and succeed. Our three broad goals are to build and strengthen this community, raise awareness of the issues women in the field face, and encourage their educational and professional development.
                                    </p>

                                    <p>
                                    Please e-mail us with any questions or comments, or find out how to get involved. Like our Facebook page to stay up to date with the latest information.                  </p>

                </div>
            </div>
        </div>
    <!--     end extras --> 

    </div>
<!-- end container -->

<!-- end container -->
<div class="space-30"></div>
</div>
</html>
