

<header class="intro-header" style="background-image: url('images/so.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Events</h1>
                        <hr class="small">
                        <span class="subheading">We hope to see you soon!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<div class="main">
<div class="container wics-container">

    <div class="row wics-row">
        <div class="col-md-3 col-md-offset-1">
            <h3>Join us! </h3>
        </div>
        <div class="col-md-7">
            <p>
            Welcome to the website for the University of San Francisco Women in Computer Science (WiCS)! Our mission is to support and encourage women who are interested in pursuing computer science as a discipline, and to build a community of women in science, engineering, and technical careers. </p>

            <p>
            Attend WiCS events and join a small community of other programmers. You'll get to meet companies to learn what thay're up to and where you might fit in. We also hold workshops on web development, interviewing preperation, and professional development. 
            </p>

            <p>
            We'd love to hear from you if you would like to get involved with WiCS, partner with us, or sponser an event; feel free to email us wogrammersusfca@gmail.com.
            </p>
            
        </div>
        
    </div>
<!--     end row -->

 <div class="row wics-row">
        <div class="col-md-3 col-md-offset-1">
            <h3>WiCS Main Calendar</h3>
        </div>
        <div class="col-md-7"> 
        <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=wogrammersusfca%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
        <p>
            The easiest way to stay up-to date on current events is through our mailing list. 
        </p>
        </div>
    </div>
<!--   end row -->  


<div class="row wics-row">
    <div class="col-md-3 col-md-offset-1">
        <h3>Social Media</h3>
    </div>
    <div class="col-md-7">
    <a class="twitter-timeline" 
href="https://twitter.com/WogrammersUSF" 
data-widget-id="660511459005239296"
data-chrome="nofooter noborders">
Tweets by @WogrammersUSF
</a>
        
    </div>
</div>
<!-- end row -->




</div>
</div>
</div>

