<!DOCTYPE html>  
<html lang="en">  
  <head>
    <% include ../views/partials/head.ejs%>
  </head>
  <body>
    <% include ../views/partials/header.ejs%>
    <%- body %>
    <% include ../views/partials/footer.ejs%>
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- scripts -->
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="//twemoji.maxcdn.com/twemoji.min.js"></script> 
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>

	<script>window.twttr = (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0],
		t = window.twttr || {};
		if (d.getElementById(id)) return t;
		js = d.createElement(s);
		js.id = id;
		js.src = "https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);

		t._e = [];
		t.ready = function(f) {
		t._e.push(f);
		};

		return t;
		}(document, "script", "twitter-wjs"));</script>
		
  </body>
</html>  


