<!DOCTYPE html> 

<header class="intro-header" style="background-color: #222">

    <!-- style="background-image: url('images/so.jpg')"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Resources</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>





<div class="container-fluid intro" id="about">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="chain">Additional Resources</h1>  
          
          <p>Practice coding!</p>
          <ul id="extra">

           <li><a href="https://www.codecademy.com/skills/make-a-website" target="_blank">
           Build a website at CodeAcademy
           </a></li>

           <li><a href="https://rubymonk.com" target="_blank">
           Learn Ruby
           </a></li>


           <li><a href="https://www.hackerrank.com" target="_blank">
           Sharpen your interview skills
           </a></li>

           <li><a href="http://www.meetup.com/Women-Who-Code-SF" target="_blank">
           Meet other women who code!!
           </a></li>

         </ul>
         
         
         <p>Free resources to download</p>
         
         <ul id="extra">
           <li></li>
           <li>Cracking the Coding Interview by Gayle Laakmann</li>
         </ul>
         
         
       </div>
     </div>
   </div>
</html>